<div id="like-buttons_<%= micropost.id %>">
  <% if micropost.like_by?(current_user) %>
  <%= button_to micropost_like_path(likes, micropost_id: micropost.id), method: :delete,  remote: true do %>
  <%= image_tag("icon_red_heart.png") %>
  <span>
    <%= micropost.likes_count %>
  </span>
  <% end %>

  <% else %>
  <%= button_to micropost_likes_path(micropost), remote: true do %>
  <%= image_tag("icon_heart.png") %>
  <span>
    <%= micropost.likes_count %>
  </span>
  <% end %>
  <% end %>
</div>
