<li id="<%= feed_like.id %>">
  <%= link_to gravatar_for(feed_like.user), feed_like.user %>
  <span class="user">
    <%= link_to feed_like.user.name, feed_like.user %>
  </span>

  <span class="content"><%= feed_like.content %></span>


  <span class="timestamp">
    <%= time_ago_in_words(feed_like.created_at) %>前に投稿
  </span>

  <%= render partial: 'likes/like', locals: { micropost: feed_like, likes: @likes } %>

</li>
